#root {
    font-family: Inter, system-ui;
}

.image-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 95%;
    overflow-x: clip;
}

.image-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.image-text-slide {
    flex: 0 0 100%;
    padding: 5px 0px 5px 0px;
    max-width: 100%;
    text-align: center;
}

.image-text-slide p
{
    font-weight: bold;
}

.image-text-slide img, video {
    width: 65%;
    border-radius: 15px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.border{
    position: relative;
    border-radius: 15px;
    border: 3px solid #82abcf;
    transition: all 0.1s ease-in;
}

.border:hover{
    border: 3px solid #b06af7;
    box-shadow: 0 0 10px #b06af7;
}


@media (orientation: portrait) {
    .image-text-slide img, video {
        width: 85vw;
        min-height: 50vw;
    }
    .carousel-button
    {
        scale: 0.7;
        opacity: 50%;
    }
}