.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-text-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.image-text-slide img:hover, .image-text-slide video:hover {
    transform: scale(1.1); /* Adjust the scale value as needed */
}

.image-text-slide img, .image-text-slide video {
    z-index: 5; /* Ensure the enlarged item appears on top */
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.2s ease; /* Transition the transform property */
}


@media (orientation: portrait) {
    .image-text-slide {
        width: 95%;
    }
}