.vertical-card
{
    display: flex;
    flex-direction: column;
    justify-items: start;
    width: 430px;
    height: 650px;
    position: relative;
    transition: all 150ms ease-out;
    z-index: 1;
}
.vertical-card.deactivated
{
    opacity: 0.2;
    scale: 0.75;
    z-index: 0;
}

.vertical-card.deactivated:hover
{
    opacity: 0.7;
    scale: 0.90;
}

.vertical-card.deactivated.left
{

    transform: rotate(-15deg) translateX(100px);

}
.vertical-card.deactivated.right
{
    transform: rotate(15deg) translateX(-100px);

}
.vertical-card.main {
    opacity: 1;
    scale: 1;
    transform: rotate(0deg);
}

.first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    background: #C4BAFF;
    border: #C4BAFF solid 1px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}



.first-part img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    display: block;
    border: white solid 5px;
    border-radius: 15px;
    user-select: none;
    transition: all 0.1s ease-out;
}

.first-part img:hover{
    width: 92%;
    height: 92%;
    border: #e6e3ff solid 5px;

}

.second-part
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background: rgba(25, 14, 41, 0.64);
    border-radius: 15px;
    position: absolute;
    bottom: 5px;
    text-align: center;
    overflow: scroll;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.83) 0px 0px 15px;
    transition: all 0.2s ease-out;
}

.second-part h3
{
    font-family: Inter, system-ui;
    padding-top: 5px;
    margin: auto 0px auto 0px;
    z-index: 1;
}

.cardsContainer
{
    display: flex;
    margin: 0px 0px 75px 0px;
    background: rgba(255, 255, 255, 0);
    border-radius: 35px;
    padding: 25px;
    backdrop-filter: blur(7px);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 35px;
    overflow: clip;
}

@media (orientation: portrait) {

    .vertical-card
    {
        width: 200px;
        height: 350px;
    }

    .first-part {
        height: 65%;
        border-radius: 10px;
    }
    .second-part
    {
        height: 35%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 15px;

    }

    .vertical-card.deactivated.left
    {
        transform: translateX(0px);
    }
    .vertical-card.deactivated.right
    {
        transform: translateX(0px);
    }
    .vertical-card.main.left {
        opacity: 1;
        scale: 1;
        transform: translateX(55%);
    }
    .vertical-card.main.right {
        opacity: 1;
        scale: 1;
        transform: translateX(-55%);
    }
}
