.popupBG
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px) grayscale(80%);
    z-index: 5;
}

.popup
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    background-image:linear-gradient(#7D29C4 25%, 75%, #323e86);
    border: 3px solid white;
    height: 75%;
}

